<!DOCTYPE html>
<html>
    <head>
        <title>Tema PW - Sift - platforma de e-learning pentru programare</title>
        <meta charset="utf-8"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Ubuntu+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/resources/main.css"/>
    </head>
    <%- body %>
</html>